fastapi[standard]==0.115.5
sqlmodel==0.0.22
alembic==1.14.0
python-dotenv==1.0.1
psycopg2==2.9.10
bcrypt==4.2.1
PyJWT==2.10.1
google-auth==2.37.0
google-auth-oauthlib==0.2.0
google-auth-httplib2==1.2.1
